 <!-- Header-->
 <header class="bg-dark py-5 ">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                  <h1 class="display-3 text-white mb-2">SkillForge: </h1>
                  <h5 class="display-6 fw-bolder text-white">Elevate Your Skills, Ignite Your Potential!</h5>
                  <p class="lead fw-normal text-white-50 mb-4">Embark your journey of continuous learning and skill development with our Courses and Project Platform. Start exploring our offerings today and unlock your full potential!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="contact.html" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images.pexels.com/photos/3826678/pexels-photo-3826678.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="...">
                  </div>>
                  <div class="carousel-item ">
                        <img src="https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/693859/pexels-photo-693859.jpeg?auto=compress&cs=tinysrgb&w=300" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/1181243/pexels-photo-1181243.jpeg?auto=compress&cs=tinysrgb&w=300" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images.pexels.com/photos/1181298/pexels-photo-1181298.jpeg?auto=compress&cs=tinysrgb&w=300" class="d-block w-100" alt="...">
                  </div>

                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <!-- <img class="img-fluid rounded-3 my-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div> -->
      </div>
  </div>
</header>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

<div class="container px-5" id="explore">
  <div class="my-5 text-center text-xl-start">
    <h1 class="display-6 fw-bolder">Explore Now!</h1>
    <p class="lead fw-normal text-dark-50 mb-4">Explore the courses and projects that would amp up your knowledge as well as skillset. Also, look into the Workshops and kid-focused modules.</p>
    <div class="container text-center">
      <div class="gallery">
          <img src="assets\img\pic1.jpeg" alt="pic1"> 
          <img src="assets\img\pic6.jpeg" alt="pic6"> 
          <img src="assets\img\pic4.jpeg" alt="pic3">
          <img src="assets\img\pic5.jpeg" alt="pic5">
       </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="buttonrow">
        <button type="button" class="btn btn-outline-primary" href="projects.html" routerLink="/projects" routerLinkActive="active">Projects</button>
        <button type="button" class="btn btn-outline-primary" href="courses.html" routerLink="/courses" routerLinkActive="active">Courses</button>
        <button type="button" class="btn btn-outline-primary" href="workshop.html" routerLink="/workshop" routerLinkActive="active">Workshops</button>
      <button type="button" class="btn btn-outline-primary" href="kidzone.html" routerLink="/kidzone" routerLinkActive="active">KidZone</button>
      </div>
    </div>
  </div>
</div>
    
    <!-- <div class="btn-group" role="group" aria-label="Large button group" id="explorebtn">
      <button type="button" class="btn btn-outline-primary" href="courses.html" routerLink="/courses" routerLinkActive="active">Courses</button>
      <button type="button" class="btn btn-outline-primary" href="projects.html" routerLink="/projects" routerLinkActive="active">Project</button>
      <button type="button" class="btn btn-outline-primary" href="workshop.html" routerLink="/workshop" routerLinkActive="active">Workshop</button>
      <button type="button" class="btn btn-outline-primary" href="kidzone.html" routerLink="/kidzone" routerLinkActive="active">KidZone</button>
    
    </div> -->



<!-- Features section-->
<section class="py-5" id="features">

  <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start building yourself</h2>
        <div class="col mb-5 mb-md-0 h-100"> 
            <img class="img-fluid rounded-3 my-5" src="https://images.pexels.com/photos/3183179/pexels-photo-3183179.jpeg?auto=compress&cs=tinysrgb&w=300" alt="..." />
            <img class="img-fluid rounded-3 my-5" src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=300" alt="..." />
        </div>
        </div>
          <div class="col-lg-8">
              <div class="row gx-5 row-cols-1 row-cols-md-2">
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                      <h2 class="h5">Diverse Topics</h2>
                      <p class="mb-0">Choose from a wide range of courses and project spanning various disciplines to match your interests and career goals.</p>
                  </div>
                  <div class="col mb-5 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-window-sidebar"></i></div>
                      <h2 class="h5">Hands-on Experience</h2>
                      <p class="mb-0">Apply your learning through practical projects and gain valuable skills that can be directly applied in the real world.</p>
                  </div>
                  <div class="col mb-5 mb-md-0 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-hourglass-split"></i></div>
                    <h2 class="h5">Flexible Learning</h2>
                    <p class="mb-0">Study at your own pace and access the courses and project whenever and wherever you want.</p>
                </div>
                <div class="col mb-5 h-100">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-check"></i></div>
                    <h2 class="h5">Quality Content</h2>
                    <p class="mb-0">We prioritize the delivery of high-quality educational content so as to meet industry standards and provide valuable learning experience.</p>
                </div>
                  <div class="col mb-5 mb-md-0 h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cash"></i></div>
                      <h2 class="h5">Affordable Pricing</h2>
                      <p class="mb-0">We believe in making education accessible to all. Our courses and projects are priced competitively, offering excellent value for the knowledge and skills you'll gain. We provide flexible payment options and student discounts to suit your needs.</p>
                  </div>
                  <div class="col h-100">
                      <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-file-earmark-person"></i></div>
                      <h2 class="h5">Personalized Learning</h2>
                      <p class="mb-0">We understand that every learner is unique, which is why we offer personalized learning paths and recommendations. Our platform analyzes your goals to provide ypu tailored course</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

  <!-- Testimonial Start -->
  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title bg-white text-center text-primary px-3">Testimonial</h5>
            <h1 class="mb-5">Our Learners Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://themewagon.github.io/elearning/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Drishti Mestry </h5>
                <p>Student, Thadomal Institute of Engineering,Mumbai</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"The machine learning course exceeded all my expectations. As someone with a strong interest in data science, I was eager to delve into the world of machine learning. This course provided comprehensive coverage of algorithms, models, and techniques. The instructors were brilliant and made complex concepts easy to understand. I particularly appreciated the practical projects that allowed me to apply what I learned to real-world scenarios. The course also fostered a supportive community of learners, where I could collaborate and learn from my peers. Thanks to this course, I now feel equipped to tackle machine learning projects with confidence. I highly recommend it to anyone looking to expand their knowledge in this exciting field."</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://themewagon.github.io/elearning/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Dhruv Mulik</h5>
                <p>Student, IIT-Bombay</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"The project not only met the academic requirements but also provided me with practical insights into industry practices and trends. It allowed me to explore new technologies, collaborate with my peers, and gain hands-on experience that will be beneficial for my future career.I highly recommend SillForge as a partner for future college projects.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="https://themewagon.github.io/elearning/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Hailee Holland</h5>
                <p>Student, NorthEastern University</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"Taking the web development course was a game-changer for me. I had always been curious about coding and building websites, and this course provided the perfect platform to dive in. The instructors were knowledgeable and patient, guiding us through the intricacies of HTML, CSS, and JavaScript with clarity and practical examples. The hands-on projects allowed me to apply what I learned and gain confidence in my abilities. Now, I can proudly say that I have built my own website from scratch! This course has opened up new career opportunities for me and sparked a passion for web development. I highly recommend it to anyone interested in learning web development skills in a supportive and engaging environment."</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="assets\img\imgtestemonial.jpeg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Greeshma Madhvani</h5>
                <p>Parent</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">"My child's coding course with SkillForge has been an incredible experience. The instructors made coding fun and accessible, and my child's creativity and problem-solving skills have soared. The supportive learning environment and engaging curriculum have sparked a passion for technology. Thank you, SkillForge for an amazing coding journey!"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

 <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button" routerLink="/registrationpage" routerLinkActive="active">Sign up</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>