<app-adminpanel2></app-adminpanel2>

<div class="main">
    <h1 style="text-align:center;"><span>Mentors/Faculties</span></h1><br><br>
    <!-- <p style="text-align:center;"> This section includes the courses provided by SkillForge!!</p> -->

    <div class="d-flex justify-content-center">
        <div class="btn-group btn-group-lg" role="group" aria-label=" Large Button group">
          <button type="button" class="btn btn-outline-secondary" (click)="roboiot()">Robotics-IOT</button>
          <button type="button" class="btn btn-outline-secondary" (click)="ee()">Electronics</button>
          <button type="button" class="btn btn-outline-secondary"  (click)="ml()" >Machine Learning</button>
          <button type="button" class="btn btn-outline-secondary" (click)="webandroid()">Web-Android App Development</button>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
<!-- <div  style="margin: 30px;margin-left: 80px; float: left; width: 110px;">
<button  class="button" (click)="ml()">Machine Learning</button>
</div>

<div  style="margin: 30px; float: left; width: 180px;">
<button  class="button" (click)="webandroid()">Web-Android App Development</button>
</div>

<div style="margin: 30px; float: left; width: 110px;">
<button  class="button" (click)="div3Function()">Update</button>
</div> -->

<!--<div style="margin: 30px; float: left; width: 80px;">
<button  class="button" (click)="ee()">Electronics</button>
</div>

<div style="margin: 30px; float: left; width: 110px;">
<button  class="button" (click)="roboiot()">Robotics-IOT</button>
</div><br><br><br><br> -->

