 <!-- Header-->
 <!-- <header class="bg-primary fw-normal text-white"> -->
   <header class="py-5 bg-warning bg-gradient bg-opacity-75 fw-normal">
    <div class="container px-4 text-center">
        <h1 class="display-5 text-dark">Welcome to the Courses Platform!</h1>
        <p class="lead fw-normal mb-4 text-white">At our platform, we offer a wide range of high-quality courses to help you expand your knowledge and skills in various fields. Whether you are a beginner or experienced learners, we have something for everyone.</p>
        <!-- <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a> -->
    </div>

<div class="container text-center">

      <!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
    <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/1181703/pexels-photo-1181703.jpeg?auto=compress&cs=tinysrgb&w=400"></div>
    <div class="col-6 col-md-4"><img src=" https://images.pexels.com/photos/5474028/pexels-photo-5474028.jpeg?auto=compress&cs=tinysrgb&w=400"></div>
    <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/12662854/pexels-photo-12662854.jpeg?auto=compress&cs=tinysrgb&w=400"></div>
</div>
<div class="row">
    <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/11035380/pexels-photo-11035380.jpeg?auto=compress&cs=tinysrgb&w=400"></div>
    <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/1591061/pexels-photo-1591061.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"></div>
    <div class="col-6 col-md-4"><img src="https://images.pexels.com/photos/4578660/pexels-photo-4578660.jpeg?auto=compress&cs=tinysrgb&w=400"></div>
   
</div>

</div> 
</header>
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center"> 
            <div class="col-lg-8">
                <h2>About</h2>
                <p class="lead">We have jotted down a course library that will be easy to surf through with your expected search results. This course library has many topics covered as per the learner's needs.</p>
            </div>
        </div> 
    </div>
</section>
<!-- Courses section-->
<section class="bg-light" id="courses">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Course Library</h2>
                <p class="lead">The library has multiple courses jotted down for our learners under vast variety of domains.</p>
                
                <div class="row">

                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card">
                        <div class="card-body">
                            <img src="assets\img\webdevelopment.png" class="card-img-top" alt="..." >
                          <!-- <h5 class="card-title">Web Development</h5> -->
                          <p class="card-text">Web development is an interesting topic to be in touch with and it's learning aspects is pretty obliging. Here, web development related courses have been clubbed together. To get into web developing click onto the button below.</p>
                          <a href="coursewebdev.html" class="btn btn-primary" routerLink="/registermain" routerLinkActive="active">Dive in</a>
                          <!-- <a href="coursewebdev.html" class="btn btn-primary" routerLink="/coursewebdevter" routerLinkActive="active">Dive in</a> -->
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                            <img src="assets\img\machinelearning.jpeg" class="card-img-top" alt="..." >
                          <!-- <h5 class="card-title">Machine Learning</h5> -->
                          <p class="card-text">ML has certainly rose as a boon in technology, with python growing day-by-day, many applications have been developed.Under this category, topics based on Machine learning have been included.Get to know about ML more.</p>
                          <a href="coursemachinelearning.html" class="btn btn-primary" routerLink="/registermain" routerLinkActive="active"> Dive in</a>
                          <!-- <a href="coursemachinelearning.html" class="btn btn-primary" routerLink="/coursemachinelearning" routerLinkActive="active">Dive in</a> -->
                        </div>
                      </div>
                    </div>
                  
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                          <img src="assets\img\androidappdev.jpeg" class="card-img-top" alt="..." >
                        <!-- <h5 class="card-title">Machine Learning</h5> -->
                        <p class="card-text">Android App development have been a emerging topics with new trends in technology. Maybe it be games, e-commerce, streaming social networking aspects, apps are quite engaging. So let's get into knowing it more. </p>
                        <a href="courseandroidapp.html" class="btn btn-primary" routerLink="/registermain" routerLinkActive="active">Dive in</a>
                        <!-- <a href="courseandroidapp.html" class="btn btn-primary" routerLink="/courseandroidapp" routerLinkActive="active">Dive in</a> -->
                      </div>
                    </div>
                  </div>
                </div> 			
                 
            </div>
        </div>   
    </div>
</section>
<!-- Contact section-->
<section id="contact">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contact us</h2>
                <p class="lead">You can get in touch with us with a single touch on 'Contact us' button. We are here at your assistance whenever required.</p>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-center">
                    <a class="btn btn-outline-primary btn-lg px-4" href="contact.html" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                </div>
            </div> 
        </div>
    </div>
</section>
