 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/887751/pexels-photo-887751.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="display-5 text-primary">Android App Development Courses</h1>
            <p>Whether you're a seasoned developer looking to expand your skills or a beginner eager to explore the world of mobile apps, Android app development offers a fulfilling and ever-evolving career path. With the Android ecosystem constantly evolving, the potential to make a positive impact on users' lives and shape the future of mobile technology makes Android app development an exciting and rewarding field to be a part of.</p>
            <a class="btn btn-outline-primary" href="#androidcards">Know More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card bg-secondary bg-opacity-25 my-5 py-4 text-center">
        <div class="card-body">
            <h3 class="text-primary m-0" ><i>Learning Android App Development has never been so exciting!!!!</i></h3>
            <p class="text-dark fw-bold m-0">These Android app development courses cater to developers of all levels, providing comprehensive knowledge and hands-on experience to excel in the vibrant world of Android application development.</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5" >
        <div class="col-md-4 mb-5">
            <div id="androidcards" class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">5 Android Apps without coding</h2>
                    <p class="card-text">Understand Android development concepts & develop 5 different apps without coding</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5" >
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Android App development using Android Studio</h2>
                    <ul class="card-text">
                        <li>Learn & build apps using Android Studio and work with firebase to make your app market-ready.</li>
                        <li> Unlock the world of Android app creation using the industry-standard Android Studio IDE. </li>
                        <li> Explore the fundamentals of Java and Kotlin programming languages to build interactive and feature-rich mobile applications.</li>
                        <li> From user interfaces to data handling and API integration, this course equips you with the essential skills to create powerful and engaging Android apps that cater to a global audience.</li>
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Mobile App development using Flutter</h2>
                    <ul class="card-text">
                        <li>Learn & build android apps with Flutter.</li>
                        <li> Embark on a journey to create stunning cross-platform mobile applications with Flutter, Google's powerful UI toolkit. </li>
                        <li> Learn to build natively compiled apps for both Android and iOS with a single codebase, saving time and effort. </li>
                        <li> Master widget-based design, state management, and API integration to craft high-performance, visually appealing apps that leave a lasting impression on users.</li>
                     </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Intermediate Android Development with Kotlin</h2>
                    <ul class="card-text">
                        <li>Take your Android skills to the next level with this intermediate-level course.</li> 
                        <li>Dive deeper into Kotlin, Android architecture components, and Firebase integration. </li>
                        <li>Develop more complex apps, implement APIs, and explore advanced features to enhance user experience.</li>
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>

    <section id="explorecourses">
        <div class="row">
            <h3 class="text-dark fw-bolder">Explore other courses...</h3>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                <div class="card-body">
                    <img src="assets\img\webdevelopment.png" class="card-img-top" alt="..." >
                    <br>
                    <br>
                    <a href="coursewebdev.html" class="btn btn-primary" routerLink="/coursewebdev" routerLinkActive="active">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <img src="assets\img\machinelearning.jpeg" class="card-img-top" alt="..." >
                    <br>
                    <br>
                    <a href="coursemachinelearning.html" class="btn btn-primary" routerLink="/coursemachinelearning" routerLinkActive="active">Explore</a>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
