 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/5926382/pexels-photo-5926382.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." /></div>
      <div class="col-lg-5">
          <h1 class=" display-5 text-primary">Web Development Courses</h1>
          <p>Dive into the world of web development with this comprehensive course. Learn essential programming languages like HTML, CSS, and JavaScript to build stunning websites from scratch. Gain hands-on experience with real projects and unleash your creativity in crafting captivating user interfaces and responsive designs.  </p>
          <a class="btn btn-outline-primary" href="#webcards">Know More</a>
      </div>
  </div>
  <!-- Call to Action-->
  <div class="card bg-secondary bg-opacity-25 my-5 py-4 text-center ">
      <div class="card-body">
        <h3 class="text-primary"><i>Learning Web Development has never been so exciting!!!!</i></h3>
        <p class="text-dark m-0 fw-bold">No matter your level of expertise, these web development courses will equip you with the skills and knowledge needed to excel in the dynamic world of web development. From front-end design to back-end server management, start your journey today and unlock endless possibilities in the digital realm.</p>
      </div>
  </div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5" >
      <div  class="col-md-4 mb-5">
          <div id="webcards" class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Web Development with PHP and MySQL</h2>
                  <ul class="card-text">
                    <li>Harness the power of PHP, a versatile server-side scripting language, and MySQL, a robust relational database, to build dynamic and interactive websites. </li>
                    <li>Discover how to create feature-rich web applications, handle user authentication, and manage data seamlessly. </li>
                    <li>From basic web pages to advanced content management systems, this course will equip you with the skills to create powerful and scalable web solutions.</li>

                  </ul>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Front End Web Development with React JS</h2>
                  <ul class="card-text">
                    <li>Embrace the future of front-end development with React.js.</li>
                    <li>Learn to build scalable and modular user interfaces with this popular JavaScript library.</li>  
                    <li>Gain hands-on experience in state management, component-based architecture, and integrating APIs for dynamic web apps.</li>
                  </ul>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Back End Web Development with Node JS</h2>
                  <ul class="card-text">
                    <li>  Delve into the world of server-side development with Node.js. </li>
                    <li> Harness the speed and versatility of JavaScript on the back end to create efficient and robust web servers. </li>
                    <li>  Master the art of building RESTful APIs and handling data storage for seamless web applications.</li>
                  </ul>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Full Stack Developer</h2>
                <ul class="card-text">
                  <li>Learn & develop skills to become a Full Stack Developer.</li>
                  <li>Master both front-end and back-end development, working with popular frameworks like React and Node.js. </li>
                  <li>Develop dynamic web applications, handle databases, and deploy your projects to the cloud. </li>
                  <li> Elevate your coding skills and embark on a rewarding career in the digital landscape.</li>
                </ul>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Web Development with Python and Django</h2>
                <ul class="card-text">
                  <li>Unlock the potential of Python and Django framework for web development. </li>
                  <li> Create secure and scalable web applications, leverage Django's built-in features for user authentication, and implement REST APIs to power your web projects.</li>
                </ul>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
        </div>
    </div>
  </div>
  <section id="explorecourses">
    <div class="row">
        <h3 class="text-dark fw-bolder">Explore other courses...</h3>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
            <div class="card-body">
                <img src="assets\img\machinelearning.jpeg" class="card-img-top" alt="..." >
                <br>
                <br>
                <a href="coursemachinelearning.html" class="btn btn-primary" routerLink="/coursemachinelearning" routerLinkActive="active">Explore</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <img src="assets\img\androidappdev.jpeg" class="card-img-top" alt="..." >
                <br>
                <br>
                <a href="courseandroidapp.html" class="btn btn-primary" routerLink="/courseandroidapp" routerLinkActive="active">Explore</a>
            </div>
            </div>
        </div>
    </div>
</section>
</div>
