<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index.html"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-palette2" viewBox="0 0 16 16">
            <path d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zM15 15v-4H9.258l-4.015 4H15zM0 .5v12.495V.5z"/>
            <path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005z"/>
          </svg> SkillForge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html" routerLink="/about" routerLinkActive="active">About</a></li>
                
                <li class="nav-item"><a class="nav-link" href="pricing.html" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                    </ul> 
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="courses.html" routerLink="/courses" routerLinkActive="active">Courses</a></li>
                        <li><a class="dropdown-item" href="projects.html" routerLink="/projects" routerLinkActive="active">Projects</a></li>
                    </ul>
                </li>        
                                                                                                                                                                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="workshop.html" routerLink="/workshop" routerLinkActive="active">Workshops</a></li>
                      <li><a class="dropdown-item" href="kidzone.html" routerLink="/kidzone" routerLinkActive="active">Kids Zone </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Login
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="adminlogin2.html" routerLink="/adminlogin2" routerLinkActive="active">Admin</a></li>
                        <li><a class="dropdown-item" href="mentor.html" routerLink="/mentors" routerLinkActive="active">Mentor</a></li>
                        <li><a class="dropdown-item" href="loginpage.html" routerLink="/learners" routerLinkActive="active">Learner</a></li>  
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="registermain.html" routerLink="/registermain" routerLinkActive="active">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
