 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/5926382/pexels-photo-5926382.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class=" display-5 text-primary">Robotics Courses</h1>
            <p>Dive into the world of web development with this comprehensive course. Learn essential programming languages like HTML, CSS, and JavaScript to build stunning websites from scratch. Gain hands-on experience with real projects and unleash your creativity in crafting captivating user interfaces and responsive designs.  </p>
            <a class="btn btn-outline-primary" href="#roboticscards">Know More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card bg-secondary bg-opacity-25 my-5 py-4 text-center ">
        <div class="card-body">
          <h3 class="text-primary"><i>Learning Robotics has never been so exciting!!!!</i></h3>
          <p class="text-dark m-0 fw-bold">No matter your level of expertise, these iot courses will equip you with the skills and knowledge needed to excel in the dynamic world of smart engineering domain. From circuit design to hardware implementation to server connections to grasping new iot trends, start your journey today and unlock endless possibilities in the digital realm.</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5" >
        <div  class="col-md-4 mb-5">
            <div id="webcards" class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Voice controlled Robot</h2>
                    <ul class="card-text">
                      <li>Control robots with your voice in our Voice-Controlled Robots course. </li>
                      <li>Learn voice recognition technologies, program speech recognition algorithms, and witness the seamless interaction between your commands and robot actions. </li>
                       <li>Join us and be part of the future of human-robot interaction!  </li>
                     
  
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title"> Gesture controlled Robot</h2>
                    <ul class="card-text">
                      <li>Control robots effortlessly with our Gesture-Based Robot.</li>
                      <li> Experience intuitive interaction using hand gestures.</li> 
                      <li>Explore the possibilities of gesture recognition and robotics in a seamless and engaging manner.</li> 
                      <li>Join us and be part of the future of human-robot interaction!</li>
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
         <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Back End Web Development with Node JS</h2>
                    <ul class="card-text">
                      <li>  Delve into the world of server-side development with Node.js. </li>
                      <li> Harness the speed and versatility of JavaScript on the back end to create efficient and robust web servers. </li>
                      <li>  Master the art of building RESTful APIs and handling data storage for seamless web applications.</li>
                    </ul>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <!-- <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Full Stack Developer</h2>
                  <ul class="card-text">
                    <li>Learn & develop skills to become a Full Stack Developer.</li>
                    <li>Master both front-end and back-end development, working with popular frameworks like React and Node.js. </li>
                    <li>Develop dynamic web applications, handle databases, and deploy your projects to the cloud. </li>
                    <li> Elevate your coding skills and embark on a rewarding career in the digital landscape.</li>
                  </ul>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div> -->
      <!-- <div class="col-md-4 mb-5">
          <div class="card h-100">
              <div class="card-body">
                  <h2 class="card-title">Web Development with Python and Django</h2>
                  <ul class="card-text">
                    <li>Unlock the potential of Python and Django framework for web development. </li>
                    <li> Create secure and scalable web applications, leverage Django's built-in features for user authentication, and implement REST APIs to power your web projects.</li>
                  </ul>
              </div>
              <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
          </div>
      </div>
    </div> -->
    <section id="projectscourses">
      <div class="row">
          <h3 class="text-dark fw-bolder">Explore other projects...</h3>
          <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
              <div class="card-body">
                  <img src="assets\img\iot.jpeg" class="card-img-top" alt="..." >
                  <br>
                  <br>
                  <a href="projectiot.html" class="btn btn-primary" routerLink="/projectiot" routerLinkActive="active">Explore</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="card">
              <div class="card-body">
                  <img src="assets\img\electronics.jpeg" class="card-img-top" alt="..." >
                  <br>
                  <br>
                  <a href="projectelectronics.html" class="btn btn-primary" routerLink="/projectelectronics" routerLinkActive="active">Explore</a>
              </div>
              </div>
          </div>
      </div>
  </section>
  </div>
  

