<app-adminpanel2></app-adminpanel2>

<div class="main">
    <h1 style="text-align:center;" class="header">Learners</h1><br><br>      

    <!-- Course -->
    <h1 style="text-align:center;"><span> Course</span></h1>
    <br>
    
    <div class="d-flex justify-content-center">
      <div class="btn-group btn-group-lg  " role="group" aria-label="Large button group">
        <button type="button" class="btn btn-outline-warning"(click)="webdev()">Web Development</button>
        <button type="button" class="btn btn-outline-warning"(click)="android()">Android App Development</button>
        <button type="button" class="btn btn-outline-warning"(click)="ml()">Machine Learning</button>
      </div>
  </div>
  <br><br> 
            <!-- <div  style="margin: 10px; margin-left:0px; float: left; width: 260px;">
            <button  class="button" (click)="webdev()">Web Development</button>
            </div>

            <div  style="margin: 10px; float: left; width: 75px;">
            <button  class="button" (click)="android()">Android App Development</button>
            </div>

            <div style="margin: 10px; float: left; width: 100px;">
            <button  class="button" (click)="ml()">Machine Learning</button>
            </div> -->
       <!-- Project -->
       <h1 style="text-align:center;"><span>Project</span></h1>
       <br>
       
       <div class="d-flex justify-content-center">
         <div class="btn-group btn-group-lg  " role="group" aria-label="Large button group">
           <button type="button" class="btn btn-outline-primary"(click)="robo()">Robotics</button>
           <button type="button" class="btn btn-outline-primary"(click)="elec()">Electronics</button>
           <button type="button" class="btn btn-outline-primary"(click)="iot()">IOT</button>
         </div>
     </div>
     <br><br> 
    <!-- <div style="margin: 30px; margin-left:0px; float: left; width: 320px;">
    <button  class="button" (click)="robo()">Robotics</button>
    </div>
    
    <div  style="margin: 30px; float: left; width: 210px;">
    <button  class="button" (click)="elec()">Electronics</button>
    </div>
    
    <div style="margin: 30px; float: left; width: 110px;">
    <button  class="button" (click)="iot()">IOT</button>
    </div> -->

    <!-- Workshop -->
    <h1 style="text-align:center;"><span>Workshop</span></h1>
    <br>
    
    <div class="d-flex justify-content-center">
    <!-- <div  style="margin: 50px; margin-left:0px; float: left; width: 320px;"> -->
    <button  class=" btn btn-outline-success btn-lg " (click)="workshop()">Workshops</button>
    </div>
     <br><br> 
    <!-- Kidzone -->
    <h1 style="text-align:center;"><span>Kidzone</span></h1>
    <br>
    
    <div class="d-flex justify-content-center">
    <!-- <div  style="margin: 50px; float: left; width: 310px;"> -->
    <button  class="btn btn-outline-danger btn-lg" (click)="kidzone()">KidZone</button>
    </div>
        <br><br>
</div>       




