 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/6153739/pexels-photo-6153739.jpeg?auto=compress&cs=tinysrgb&w=600" alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class=" display-5 text-primary">Machine Learning Courses</h1>
            <p>Embark on a transformative journey into the fascinating world of artificial intelligence with our machine learning courses. From fundamentals to advanced concepts, discover how to build intelligent systems that learn from data and make predictions. Learn popular algorithms, such as neural networks and decision trees, and gain practical experience through real-world projects.</p>
            <a class="btn btn-outline-primary" href="#mlcards">Know More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card bg-secondary bg-opacity-25 my-5 py-4 text-center ">
        <div class="card-body">
          <h3 class="text-primary"><i>Learning Machine Learning has never been so exciting!!!!</i></h3>
          <p class="text-dark fw-bold m-0">Whether you're a beginner or an experienced developer, our courses cater to all skill levels and equip you with the skills to revolutionize industries and drive innovation through the power of machine learning.</p></div>
    </div>
    <!-- Content Row-->
        <section>
            <div class="row gx-4 gx-lg-5" >
                <div class="col-md-4 mb-5">
                    <div id="mlcards" class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Machine Learning using Python</h2>
                            <ul class="card-text">
                            <li>Harness the power of PHP, a versatile server-side scripting language, and MySQL, a robust relational database, to build dynamic and interactive websites. </li>
                            <li>Discover how to create feature-rich web applications, handle user authentication, and manage data seamlessly. </li>
                            <li>From basic web pages to advanced content management systems, this course will equip you with the skills to create powerful and scalable web solutions.</li>
        
                            </ul>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Movie Recommendation using ML</h2>
                            <ul class="card-text">
                            <li>Dive into the world of personalized movie recommendations with our specialized course. </li>
                            <li> Discover how machine learning algorithms, like collaborative filtering and matrix factorization, analyze user preferences and past behavior to suggest movies tailored to each individual's taste</li>  
                            <li>Learn to work with large-scale movie databases, handle user ratings, and fine-tune recommendation models for optimal accuracy.</li>
                            </ul>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Fraud Detection using ML</h2>
                            <ul class="card-text">
                            <li> Safeguard your business and financial transactions with cutting-edge fraud detection techniques powered by machine learning. </li>
                            <li>Learn to deploy advanced algorithms like anomaly detection and supervised learning to identify fraudulent activities and protect against potential threats.</li>
                            <li>  Acquire essential skills in data analysis, model training, and real-time monitoring to create robust fraud detection systems that adapt and evolve with emerging risks.</li>
                            </ul>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Brain Tumor Detection using Deep Learning</h2>
                        <ul class="card-text">
                            <li>Explore the cutting-edge intersection of medical imaging and deep learning in our specialized course.</li>
                            <li> Learn how to utilize convolutional neural networks (CNNs) and other deep learning techniques to analyze brain MRI scans and accurately detect the presence of tumors. </li>
                            <li> Gain hands-on experience with state-of-the-art tools and datasets, and understand the importance of data preprocessing and model optimization for precise and early detection. </li>
                        </ul>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Handwritten Digits Recognition using ML</h2>
                        <ul class="card-text">
                            <li>Unlock the power of machine learning to decipher and analyze handwritten text in our specialized course. </li>
                            <li>Dive into the fascinating world of optical character recognition (OCR) and learn how to train models to accurately recognize and convert handwritten text into digital format. </li>
                            <li> Discover various machine learning algorithms, such as convolutional neural networks (CNNs) and recurrent neural networks (RNNs), and gain practical experience in data preprocessing, feature extraction, and model training.</li>
                        </ul>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        

    <section id="explorecourses">
        <div class="row">
            <h3 class="text-dark fw-bolder">Explore other courses...</h3>
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                <div class="card-body">
                    <img src="assets\img\webdevelopment.png" class="card-img-top" alt="..." >
                    <br>
                    <br>
                    <a href="coursewebdev.html" class="btn btn-primary" routerLink="/coursewebdev" routerLinkActive="active">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <img src="assets\img\androidappdev.jpeg" class="card-img-top" alt="..." >
                    <br>
                    <br>
                    <a href="courseandroidapp.html" class="btn btn-primary" routerLink="/courseandroidapp" routerLinkActive="active">Explore</a>
                </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>

        <div class="container-card bg-secondary bg-opacity-25 my-5" >
            <h2 class="text-dark fw-bold">About Machine-Learning Courses at SkillForge</h2>
	        <p>Machine Learning is an integral branch of Artificial Intelligence and Computer Science, which focuses on gathering data and implementing algorithms that almost imitate problem-solving and decision-making capabilities. It relies on the use of many self-learning algorithms that process data and predict outcomes.
            It is widely used in the field of Data Analytics to derive exact predictions based on the insights and trends that are gathered. One notable example of Machine Learning, includes Self-driving cars, from which data is collected is the data,that helps in improving road and vehicle safety and the prevention of accidents.</p>
	        <p>SkillForge has put together several courses that include industry-oriented projects and curriculum. These Machine Learning online courses involves several practical concepts like using past banking data to track and understand fraudulent credit card activity, movie recommendations using Python, deciphering hand-written data with deep learning, neural networks, and TensorFlow and Keras library. The health and medical industry has also seen an increased application of Machine Learning. For this, we have a specialized medical project-based course on the Detection of Brain Tumor.</p>
	    
            <u>Here's what you get with the online Machine Learning Training courses:</u>
            <ul type="*">
                <li>You have complete access to industrial-grade software that comes along with the course. These intended to give you a first-hand experience in Machine Learning.</li>
                <li>Career Building courses: Along with software and project-oriented courses, you can also opt for career-oriented courses that help you upskill in Machine Learning.</li>
                <li>100% online: The courses come with complete online classes that let you learn everything you need to in the comfort of your home. These courses are also self-paced which means you can learn and skill yourself at your own paceand  is filled with engaging multimedia content too.</li>
                <li>Smart Certificates: Upon the competition of the course, you will be awarded Smart Certificates. </li>
            </ul>
        </div>
</div>
    

  
