<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4">Payment</h1>
        </div>
    </div> 
    <!-- End -->
  
   
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg:border-radius: 1rem; shadow-sm p-5">
          <!-- Credit card form tabs -->
          <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                  <i class="bi bi-credit-card"></i>
                                  Credit Card
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-paypal" class="nav-link rounded-pill" data-bs-toggle="tab" type="button" role="tab">
                                  <i class="bi bi-paypal"></i>
                                  GooglePay
                              </a>
            </li>
            <li class="nav-item">
              <a data-toggle="pill" href="#nav-tab-bank" class="nav-link rounded-pill" data-bs-toggle="tab" type="button" role="tab">
                                  <i class="bi bi-university"></i>
                                   Bank Transfer
                               </a>
            </li>
          </ul>
          <!-- End -->
  
  
          <!-- Credit card form content -->
          <div class="tab-content">
  
            <!-- credit card info-->
            <div id="nav-tab-card" class="tab-pane fade show active">
              <p class="alert alert-success">Enter your valid details </p>
              <form role="form" #insertdata="ngForm" (ngSubmit)="insertdetails1(insertdata)">
                <div class="form-group">
                  <label for="username">Full name (on the card)</label>
                  <input type="text" name="username" placeholder="Jason Doe" required class="form-control">
                </div>
                <div class="form-group">
                  <label for="cardNumber">Card number</label>
                  <div class="input-group">
                    <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required>
                    <div class="input-group-append">
                      <span class="input-group-text text-muted">
                            <i class="bi bi-cc-visa mx-1"></i>
                            <i class="bi bi-cc-amex mx-1"></i>
                            <i class="bi bi-cc-mastercard mx-1"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <label><span class="hidden-xs">Expiration</span></label>
                      <div class="input-group">
                        <input type="number" placeholder="MM" name="" class="form-control" required>
                        <input type="number" placeholder="YY" name="" class="form-control" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group mb-4">
                      <label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                                  <i class="fa fa-question-circle"></i>
                                              </label>
                      <input type="text" required class="form-control">
                    </div>
                  </div>
  
  
  
                </div>
                <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" value="Insert" (click)="insertdetails1(insertdata)">
                  Confirm </button>
                </form>
            </div>
          

            <!-- End -->
  
            <!-- Paypal info -->
            <div id= "nav-tab-paypal" class="tab-pane fade">
              <p>Gpay is easiest way to pay online</p>
              <p>
                <button type="button" class="btn btn-primary rounded-pill" routerLink="https://pay.google.com" routerLinkActive="active">
                  <!-- <i class="bi bi-gpay mr-2"></i>  -->
                  Log into my GPay Account</button>
              </p>
              <p class="text-muted">GPay is the most secure and efficient way to the payment for your selected modules. Feel trusted to pay us at our SkillForge account.Pay us on our contact number- +91-9876543210 
              </p>
            </div>
            <!-- End -->
  
            <!-- bank transfer info -->
            <div id="nav-tab-bank" class="tab-pane fade">
              <h6>Bank account details</h6>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Choose Bank...
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Axis Bank</a></li>
                  <li><a class="dropdown-item" href="#">Bank of India</a></li>
                  <li><a class="dropdown-item" href="#">Canara Bank</a></li>
                  <li><a class="dropdown-item" href="#">Dena Bank</a></li>
                  <li><a class="dropdown-item" href="#">Federal Bank</a></li>
                  <li><a class="dropdown-item" href="#">HDBC Bank</a></li>
                  <li><a class="dropdown-item" href="#">Indian Bank</a></li>
                  <li><a class="dropdown-item" href="#">Janta Sahakari Bank</a></li>
                  <li><a class="dropdown-item" href="#">Mumbai Bank</a></li>
                  <li><a class="dropdown-item" href="#">Saraswat Bank</a></li>
                  <li><a class="dropdown-item" href="#">Union Bank</a></li>
                  <li><a class="dropdown-item" href="#">YesBank</a></li>
                 </ul>
              </div>
              <div class="input">
                <h6>Account no:</h6>
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
              </div>
              <div class="aname">
                <h6>Account Holder's name</h6>
                
              </div>
              
              
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <!-- End -->
          </div>
          <!-- End -->
  
        </div>
      </div>
    </div>
 

