 <!-- Pricing section-->
 <section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Membership Plans</h1>
            <h2 class="fw-bolder">Pay as you grow</h2>
            <p class="lead fw-normal text-muted mb-0">Join in as a member with our no hassle pricing plans</p>
        </div>

        <div class="container text-center">
            <!-- <div class="row align-items-center"> -->
                <div class="gallery">
                    <img src="assets\img\pic1.jpeg" alt="pic1"> 
                    <img src="assets\img\pic6.jpeg" alt="pic6"> 
                    <img src="assets\img\pic4.jpeg" alt="pic3">
                    <img src="assets\img\pic5.jpeg" alt="pic5">
                    <!-- <div class="col">
                        <img src="assets\img\pic1.jpeg" alt="pic1">
                    </div>
                    <div class="col">
                        <img src="assets\img\pic2.jpeg" alt="pic2">
                    </div>
                    <div class="col">
                        <img src="assets\img\pic3.jpeg" alt="pic3">
                    </div>
                    <div class="col">
                        <img src="assets\img\pic4.jpeg" alt="pic4">
                    </div> -->
            </div>
            
        </div>
        <br>
        <br>
<!-- <div class="row gx-4 justify-content-sm-center">
    <div class="mb-4">
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/Images/profile.jpg" alt="..." /></span>
        <img src="https://images.pexels.com/photos/8294606/pexels-photo-8294606.jpeg?auto=compress&cs=tinysrgb&w=300"  class="rounded-circle me-6" alt="..."> </div>
</div> -->

        <div class="row gx-5 justify-content-center">
            <!-- Pricing card free-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    
                    <div class="card-body p-5">
                        
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-person"></i>
                            Individual</div>
                        <div class="mb-3" >
                            <span class="display-4 fw-bold">₹199</span>
                            <span class="text-muted">/ month</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <!-- <i class="bi bi-check text-primary"></i> -->
                                <strong> <p class="fs-3 text-primary">1 User</p> </strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Enrollment for max. 5 courses at a time
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2 text-muted">
                                <i class="bi bi-x"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#pricingform" routerLink="/pricingform" routerLinkActive="active">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card pro-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-star-fill text-warning"></i>
                            Pro
                        </div>
                        <div class="mb-3">
                            <span class="display-4 fw-bold">₹449</span>
                            <span class="text-muted">/ month</span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <!-- <i class="bi bi-check text-primary"></i> -->
                                <strong> <p class="fs-3 text-primary"> 5 Users</p></strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Access to certification courses from affiliated universities
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Free linked domain
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-x"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#pricingform" routerLink="/pricingform" routerLinkActive="active">Choose plan</a></div>
                    </div>
                </div>
            </div>
            <!-- Pricing card enterprise-->
            <div class="col-lg-6 col-xl-4">
                
                <div class="card mb-5 mb-xl-0">
                    <!-- <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/img/profile.jpg" alt="..." /></span> -->
                    <div class="card-body p-5">
                        <!-- <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/Images/profile.jpg" alt="..." /></span>  -->
                        <div class="small text-uppercase fw-bold">
                            <i class="bi bi-building"></i>
                            Enterprise/Institution
                        </div>
                        <div class="mb-3" >
                            <span class="display-4 fw-bold">₹999</span>
                            <span class="text-muted">/ month </span>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2" >
                                <!-- <i class="bi bi-check text-primary"></i> -->
                                <strong> <p class="fs-3 text-primary">Unlimited Users</p></strong>
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                               Coaching and Internships from affiliated universities
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                               Certifications from affiliated universities
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited public projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Community access
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited private projects
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Dedicated support
                            </li>
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                                Unlimited linked domains
                            </li>
                            <li class="text-muted">
                                <i class="bi bi-check text-primary"></i>
                                Monthly status reports
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#pricingform" routerLink="/pricingform" routerLinkActive="active">Choose plan</a></div>
                    </div>
                </div>
            </div>
        </div>
   
